* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.list {
    display: flex;
    gap: 35px;
}

.list_item {
    font-family: Pragmatica;
    font-size: 14px;
    font-weight: 400;
    color: #585858;
    cursor: pointer;
}

.list_item:hover {
    color: #242424;
}

.regestration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log_in_text {
    color: #494949;
    cursor: pointer;
    font-size: 13px;
}

.div_hr {
    width: 100%;
    height: 0.1em;
    background-color: #EAEAEA;
}

.ss_img {
    width: Hug (88.18px)px;
    height: Hug (69.93px)px;
    display: flex;
    margin-left: 30px;
}

.div_hr_right {
    padding: 25px 30px 25px 0px;
    gap: 0px;
    border: 0px 1px 0px 0px;
    opacity: 0px;
    border-right: 0.1em solid #EAEAEA;
}

.menyu_bar {
    display: flex;
    padding-top: 10px;
    margin-left: 65px;
}

.fa-solid {
    cursor: pointer;
}

.menyu_list {
    display: flex;
    gap: 55px;
    padding-top: 2.5px;
}

.menyu_list_item {
    font-family: Pragmatica;
    font-size: 18px;
    font-weight: 500;
    line-height: 11px;
    color: #000000;
    cursor: pointer;
}

.box_icons {
    display: flex;
    margin-left: 42%;
}

.box_1 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    border-left: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_2 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-regular {
    cursor: pointer;
}

.box_3 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
    gap: 25px;
}

.air_max {
    font-family: Pragmatica;
    font-size: 67px;
    font-weight: 500;
    line-height: 81.83px;
    text-transform: uppercase;
    color: #000000;
}

.chiziq {
    width: 120px;
    height: 2px;
    background-color: #000000;
    margin-top: 10px;
}

.racer_text {
    font-family: Pragmatica;
    font-size: 67px;
    font-weight: 500;
    line-height: 81.83px;
    text-transform: uppercase;
    color: #000000;
}

.header_paragraf {
    width: 500px;
    font-family: Pragmatica;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #292929;
}

.summa {
    font-family: Pragmatica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


.narx {
    font-family: Pragmatica;
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
    color: #000000;
}

.header_btn {
    display: flex;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 56px;
}

.btn_1 {
    width: 180px;
    font-family: Pragmatica;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.98px;
    color: #ffff;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
}

.btn_1_ {
    width: 60px;
    height: 60px;
    background-color: #000000;
    border: none;
    color: #ffff;
    border-radius: 0px 5px 5px 0px;
}

.btn_2 {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: none;
    border: 2px solid #E2E2E2;
    background-color: #ffff;
    font-size: 20px;
}

.btn_3 {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: none;
    border: 2px solid #ffff;
    background-color: #E2E2E2;
    font-size: 20px;
}

.header_left_img {
    width: 750px;
    height: 900px;
}

.nike_img {
    width: 100%;
    height: 100%;
}

.header_bottom {
    display: flex;
}

.father_tovar {
    width: 410px;
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.original_text {
    font-family: Pragmatica;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.header_bottom_paragraf {
    font-family: Pragmatica;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #4B4B4B;
}
















@media(max-width:576px) {
    .max_menyu_img {
        cursor: pointer;
    }

    .max_icons {
        cursor: pointer;
    }

    .air_div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .max_air_text {
        font-family: Pragmatica;
        font-size: 35px;
        font-weight: 600;
        line-height: 40.32px;
        text-transform: uppercase;
        color: #000000;
    }

    .liniya {
        width: 110px;
        height: 2px;
        background-color: #000000;
    }

    .max_racer {
        font-family: Pragmatica;
        font-size: 35px;
        font-weight: 600;
        line-height: 40.32px;
        text-transform: uppercase;
        color: #000000;
    }

    .max_paragraf {
        width: 328px;
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        color: #292929;
    }

    .nike_img_max {
        width: 330px;
        height: 340px;
        margin: auto;
    }

    .price {
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .narxi {
        font-family: Pragmatica;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        color: #000000;
    }

    .header_btn_responsive {
        display: flex;
        width: 240px;
        margin-top: 40px;
        margin-bottom: 56px;
        margin: auto;
    }

    .nuqta_div {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .header_bottom_responsive {
        display: flex;
        margin-top: 25px;
        gap: 20px;
    }

    .res_tovar_text {
        font-family: Pragmatica;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;
        color: #000000;
    }

    .res_paragraf {
        width: 300px;
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #4B4B4B;
    }
}