* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.list {
    display: flex;
    gap: 35px;
}

.list_item {
    font-family: Pragmatica;
    font-size: 14px;
    font-weight: 400;
    color: #585858;
    cursor: pointer;
}

.list_item:hover {
    color: #242424;
}

.regestration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log_in_text {
    color: #494949;
    cursor: pointer;
    font-size: 13px;
}

.div_hr {
    width: 100%;
    height: 0.1em;
    background-color: #EAEAEA;
}

.ss_img {
    width: Hug (88.18px)px;
    height: Hug (69.93px)px;
    display: flex;
    margin-left: 30px;
}

.div_hr_right {
    padding: 25px 30px 25px 0px;
    gap: 0px;
    border: 0px 1px 0px 0px;
    opacity: 0px;
    border-right: 0.1em solid #EAEAEA;
}

.menyu_bar {
    display: flex;
    padding-top: 10px;
    margin-left: 65px;
}

.fa-solid {
    cursor: pointer;
}

.menyu_list {
    display: flex;
    gap: 55px;
    padding-top: 2.5px;
}

.menyu_list_item {
    font-family: Pragmatica;
    font-size: 18px;
    font-weight: 500;
    line-height: 11px;
    color: #000000;
    cursor: pointer;
}

.box_icons {
    display: flex;
    margin-left: 42%;
}

.box_1 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    border-left: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_2 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-regular {
    cursor: pointer;
}

.box_3 {
    width: 50px;
    height: 50px;
    border-right: 0.1em solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
    gap: 25px;
}

.air_max {
    font-family: Pragmatica;
    font-size: 67px;
    font-weight: 500;
    line-height: 81.83px;
    text-transform: uppercase;
    color: #000000;
}

.chiziq {
    width: 120px;
    height: 2px;
    background-color: #000000;
    margin-top: 10px;
}

.racer_text {
    font-family: Pragmatica;
    font-size: 67px;
    font-weight: 500;
    line-height: 81.83px;
    text-transform: uppercase;
    color: #000000;
}

.header_paragraf {
    width: 500px;
    font-family: Pragmatica;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #292929;
}

.summa {
    font-family: Pragmatica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


.narx {
    font-family: Pragmatica;
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
    color: #000000;
}

.header_btn {
    display: flex;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 56px;
}

.btn_1 {
    width: 180px;
    font-family: Pragmatica;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.98px;
    color: #ffff;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
}

.btn_1_ {
    width: 60px;
    height: 60px;
    background-color: #000000;
    border: none;
    color: #ffff;
    border-radius: 0px 5px 5px 0px;
}

.btn_2 {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: none;
    border: 2px solid #E2E2E2;
    background-color: #ffff;
    font-size: 20px;
}

.btn_3 {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: none;
    border: 2px solid #ffff;
    background-color: #E2E2E2;
    font-size: 20px;
}

.nike_img {
    width: 100%;
}

.header_bottom {
    display: flex;
}

.father_tovar {
    width: 410px;
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.original_text {
    font-family: Pragmatica;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.header_bottom_paragraf {
    font-family: Pragmatica;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #4B4B4B;
}

.start_text {
    font-family: Pragmatica;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
}

.start_strelka {
    display: flex;
    margin-top: 75px;
    gap: 20px;
}

.strelka {
    cursor: pointer;
}

.section_father {
    display: flex;
    justify-content: space-between;
}

.section_box {
    width: 400px;
}

.nike_vapor {
    position: absolute;
    width: 400px;
    height: 405px;
}

.logotips {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo_novinka {
    position: relative;
}

.like_img {
    position: relative;
    cursor: pointer;
}

.hug_div {
    display: flex;
    justify-content: center;
    padding-top: 80%;
}

.hug_img {
    position: relative;
}

.box_paragraf {
    font-family: Pragmatica;
    font-size: 15px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.04em;
    padding-top: 40px;
    color: #747474;
    text-transform: uppercase;
}

.nike_vapor_air {
    font-family: Pragmatica;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    color: #000000;
}

.ranglar {
    display: flex;
    gap: 10px;
}

.rang {
    font-family: Pragmatica;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.color_1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A8B7BF;
    cursor: pointer;
    margin-top: 5px;
}

.color_2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2A2C2D;
    cursor: pointer;
    margin-top: 5px;
}

.color_3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F81D2A;
    cursor: pointer;
    margin-top: 5px;
}

.color_4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F8F8F9;
    cursor: pointer;
    margin-top: px;
}

.prise {
    font-family: Pragmatica;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    color: #000000;
    padding-top: 10px;
}

.skidka {
    font-family: Pragmatica;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #999999;
}

.full_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6F97CC;
    cursor: pointer;
    margin-top: 5px;
}

.color_1_ {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #64E1CB;
    cursor: pointer;
    margin-top: 5px;
}

.color-2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4296C3;
    cursor: pointer;
    margin-top: 5px;
}

.color_3_ {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #D81F64;
    cursor: pointer;
    margin-top: 5px;
}




























@media(max-width:576px) {
    .max_menyu_img {
        cursor: pointer;
    }

    .max_icons {
        cursor: pointer;
    }

    .air_div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .res_ss_img_div{
        text-align: center;
    }

    .max_air_text {
        font-family: Pragmatica;
        font-size: 35px;
        font-weight: 600;
        line-height: 40.32px;
        text-transform: uppercase;
        color: #000000;
    }

    .liniya {
        width: 110px;
        height: 2px;
        background-color: #000000;
    }

    .max_racer {
        font-family: Pragmatica;
        font-size: 35px;
        font-weight: 600;
        line-height: 40.32px;
        text-transform: uppercase;
        color: #000000;
    }

    .max_paragraf {
        width: 328px;
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        color: #292929;
    }

    .nike_img_max {
        width: 330px;
        height: 340px;
        margin: auto;
    }

    .price {
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .narxi {
        font-family: Pragmatica;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        color: #000000;
    }

    .header_btn_responsive {
        display: flex;
        width: 240px;
        margin-top: 40px;
        margin-bottom: 56px;
        margin: auto;
    }

    .nuqta_div {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .header_res_class{
        margin: auto;
    }

    .header_bottom_responsive {
        display: flex;
        margin-top: 25px;
        gap: 20px;
    }

    .res_tovar_text {
        font-family: Pragmatica;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
        color: #000000;
    }

    .res_paragraf {
        width: 300px;
        font-family: Pragmatica;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: #4B4B4B;
    }

    .res_text_1 {
        font-family: Pragmatica;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #000000;
    }

    .res_hug_img {
        display: flex;
        gap: 10px;
    }

    .max_hug_img {
        padding-top: 40px;
    }

    .father_card {
        width: 158px;
    }

    .nike_vapor_white {
        position: absolute;
    }

    .vector_div {
        text-align: end;
        padding: 5px;
    }

    .vector_like {
        position: relative;
    }

    .pol {
        font-family: Pragmatica;
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        letter-spacing: 0.04em;
        padding-top: 140px;
        color: #747474;
        position: relative;
    }

    .nike_name {
        font-family: Pragmatica;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #000000;
    }

    .colors {
        display: flex;
        gap: 10px;
    }

    .card_colors {
        font-family: Pragmatica;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        color: #2E2E2E;
    }

    .card_color_1 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #A8B7BF;
        margin-top: 6px;
    }

    .card_color_2 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #2A2C2D;
        margin-top: 6px;
    }

    .card_color_3 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #F81D2A;
        margin-top: 6px;
    }

    .card_color_4 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #F8F8F9;
        margin-top: 6px;
    }

    .card_prices {
        display: flex;
        justify-content: space-between;
    }

    .card_price {
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #000000;
    }

    .card_price_span {
        font-family: Pragmatica;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        text-decoration-line: line-through;
    }

    .father_section_res {
        display: flex;
        justify-content: space-around;
    }

    .precent {
        position: relative;
    }

    .vector_div_ {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .vector_like_ {
        position: relative;
    }

    .card_color_1_ {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #6F97CC;
        margin-top: 6px;
    }

    .card_color_2_ {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #2A2C2D;
        margin-top: 6px;
    }

    .card_price_ {
        font-family: Pragmatica;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #000000;
        padding-top: 15px;
    }

    .card_color-1 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #64E1CB;
        margin-top: 6px;
    }

    .card_color-2 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #4296C3;
        margin-top: 6px;
    }

    .card_color-3 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #D81F64;
        margin-top: 6px;
    }

    .card_color-4 {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #F8F8F9;
        margin-top: 6px;
    }

}